{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_title %}
        <title> {{ page_title}} | Employee Management System</title>
    {% else %}
        <title>Employee Management System</title>
    {% endif %}

    <!-- Plugin Link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'ems_info/assets/bootstrap/css/bootstrap.min.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'ems_info/assets/default/css/main.css' %}">

    <!-- jQuery -->
    <script src="{% static 'ems_info/assets/default/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'ems_info/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ems_info/assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'ems_info/assets/bootstrap/js/popper.min.js' %}"></script>
</head>
<body>

    <div class="page_group">
        <div class="navigation">
            {% block navigation %}
                {% include "ems_info/navigation.html" %}
            {% endblock navigation %}
        </div>

        <div class="page_body">
            {% block top_navigation %}
                {% include "ems_info/top_navigation.html" %}
            {% endblock top_navigation %}
    
            <div class="page_content">
                {% block page-content %}
                {% endblock page-content %}
            </div>


        </div>
    </div>

    <!-- jQuery -->
    {% block script %}{% endblock script %}

    <div class="modal fade" id="uni_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-primary rounded-0" id='submit' onclick="$('#uni_modal form').submit()">Save</button>
                    <button type="button" class="btn btn-sm btn-flat btn-secondary rounded-0" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                </div>
                <div class="modal-body">
                    <div id="delete_content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-flat btn-primary rounded-0" id='confirm' onclick="">Continue</button>
                    <button type="button" class="btn btn-sm btn-flat btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- JavaScript -->
<script src="{% static 'ems_info/assets/default/js/main.js'%}"></script>
<script>
        window.start_loader = function() {
            $('body').removeClass('loaded')
        }
        window.end_loader = function() {
            $('body').addClass('loaded')
        }

        window.uni_modal = function($title = '', $url = '', $size = "") {

            start_loader();

            $.ajax({
                url: $url,
                error: err => {
                    alert("An error occured");
                },
                success: function(resp) {

                    if (resp) {
                        
                        $('#uni_modal .modal-title').html($title);
                        $('#uni_modal .modal-body').html(resp);
                        
                        if ($size != '') {

                            $('#uni_modal .modal-dialog').addClass($size + '  modal-dialog-centered');

                        } else {

                            $('#uni_modal .modal-dialog').removeAttr("class").addClass("modal-dialog modal-md modal-dialog-centered");

                        }

                        $('#uni_modal').modal({
                            backdrop: 'static',
                            keyboard: false,
                            focus: true
                        });


                        $('#uni_modal').modal('show');
                        end_loader();

                    }
                }
            });
        }

        window._conf = function($msg = '', $func = '', $params = []) {
            $('#confirm_modal #confirm').attr('onclick', $func + "(" + $params.join(',') + ")")
            $('#confirm_modal .modal-body').html($msg)
            $('#confirm_modal').modal('show')
        }
        $(function() {

        });
</script>
</body>
</html>