{% extends "ems_info/base.html" %} 

{% block page-content%}

    <div class="h_body">

        <div class="h_title">
            <h2>Home Page</h2>
        </div>

        <div class="h_content">
            <div class="h_box">
                <h3>Employee List</h3>
                <p>Total Count: <span>{{total_employee}}</span></p>
            </div>
            <div class="h_box">
                <h3>Department List</h3>
                <p>Total Count: <span>{{total_department}}</span></p>
            </div>
            <div class="h_box">
                <h3>Position List</h3>
                <p>Total Count: <span>{{total_position}}</span></p>
            </div>
            <div class="h_box">
                <h3>Project List</h3>
                <p>Total Count: <span>200</span></p>
            </div>
        </div>
    </div>

{% endblock page-content%}







