{% extends "ems_info/base.html" %} 

{% block page-content%}

<div class="p_body">

    <div class="p_title">
        <h2>Position Page</h2>

        <div class="p_add">
            <button id="">
                <i class="fa-regular fa-plus"></i><span>Add</span>
            </button>
        </div>
    </div>

    <div class="p_content">
        <table>
            <tr>
                <th>Department Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </table>
    </div>

</div>
{% endblock page-content%}