{% extends "ems_info/base.html" %} 

{% block page-content%}

<div class="p_body">

    <div class="p_title">
        <h2>Position Page</h2>

        <div class="p_add">
            <button id="create_new">
                <i class="fa-regular fa-plus"></i><span>Add</span>
            </button>
        </div>
    </div>

    <div class="p_content">
        <table class="p_table">
            <tr>
                <th>No.</th>
                <th>Position Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            {% for position in positions %}
            <tr>
                <td>{{position.id}}.</td>
                <td>{{position.name}}</td>
                <td>{{position.description}}</td>
                <td class="py-2 text-center">
                    {% if position.status == 1 %}
                        <span class="active">Active</span>
                    {% else %}
                        <span class="inactive">Inactive</span>
                    {% endif %}
                </td>
                <td class="px-2 text-center">
                    <button class="edit_btn edit_data" data-id="{{ position.pk }}"  type="button" title="Edit">
                        <i class="fa-sharp fa-solid fa-pencil"></i>
                    </button>
                    <button class="delete_btn delete_data"  type="button" data-id="{{ position.pk }}" title="Delete">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>

</div>
{% endblock page-content %}



{% block script %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("Add New Position", "{% url 'add-position-page' %}");
        });

        $('.edit_data').click(function() {
            uni_modal("Edit Position", "{% url 'add-position-page' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete_data').click(function() {
            _conf("Are you sure to delete this position?", "delete_position", [$(this).attr('data-id')])
        })
    });

    function delete_position($id) {
        start_loader();

        $.ajax({
            headers: {
                "X-CSRFToken": "{{csrf_token}}"
            },
            url: "{% url 'delete-position-page' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured", 'error');
                end_loader();
            },
            success: function(resp) {
                if(typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                }else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        });
    }
</script>
{% endblock %}