{% extends "ems_info/base.html" %} 

{% block page-content %}

<div class="pj_body">

    <div class="pj_title">
        <h2>Project Page</h2>

        <div class="pj_add">
            <button id="">
                <i class="fa-regular fa-plus"></i><span>Add</span>
            </button>
        </div>
    </div>

    <div class="pj_content">
        <table>
            <tr>
                <th>Department Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </table>
    </div>

</div>

{% endblock page-content %}