<style>
    #uni_modal .modal-footer {
        display: none;
    }
</style>

<div class="container-fluid">
    <dir class="row">
        <div class="rol-md-12">
            <div class="view">
                <span class="view_list">Code: </span>
                <span>{{employee.code}}</span>
            </div>
            <div class="view">
                <span class="view_list">Name: </span>
                <span>{{employee.firstname}} {{employee.middlename}} {{employee.lastname}}</span>
            </div>
            <div class="view">
                <span class="view_list">Date of birth: </span>
                <span>{{employee.dob | date:'d, M, Y' }}</span>
            </div>
            <div class="view">
                <span class="view_list">Gender: </span>
                <span>{{employee.gender}}</span>
            </div>
            <div class="view">
                <span class="view_list">Email: </span>
                <span>{{employee.email}}</span>
            </div>
            <div class="view">
                <span class="view_list">Contact: </span>
                <span>{{employee.contact}}</span>
            </div>
            <div class="view">
                <span class="view_list">Address: </span>
                <span>{{employee.address}}</span>
            </div>
            <div class="view">
                <span class="view_list">Department: </span>
                <span>{{employee.department_id}}</span>
            </div>
            <div class="view">
                <span class="view_list">Position: </span>
                <span>{{employee.position_id}}</span>
            </div>
            <div class="view">
                <span class="view_list">Salary: </span>
                <span>{{employee.salary}}</span>
            </div>
            <div class="view">
                <span class="view_list">Hire Date: </span>
                <span>{{employee.hired_date | date:'d, M, Y'}}</span>
            </div>
            <div class="view">
                <span class="view_list">Status: </span>
                <span style="text-align:center;">
                    {% if employee.status == 1 %}
                    <span class="active text-white">Active</span>
                    {% endif %}
                    {% if employee.status == 0 %}
                    <span class="inactive text-white">Inactive</span>
                    {% endif %}
                </span>
            </div>
        </div>
    </dir>
    <div class="clear-fix py-3"></div>
        <div class="d-flex w-100 align-items-center justify-content-end">
            <button class="btn btn-default border btn-sm rounded-0 d-flex align-items-center" type="button" data-bs-dismiss="modal">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true"></i> Close
            </button>
        </div>
</div>