*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

body{
    background-color: #e9eaef;
}

h1,h2,h3,h4,h5,h6,
a {
    text-align: center;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

i {
    font-size: 16px;
    margin-right: 5px;
}

button {
    border: none;
    box-shadow: 1px 1px 7px #999;
}




/*------------common class & id---------------*/
.close {
    position: absolute;
    top: 0;
    left: 18%;
}

.active, 
.inactive {
    width: 70px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.active {
    background-color: #0de10d;
}

.inactive {
    background-color: red;

}

.edit_btn,
.delete_btn,
.view_btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


.edit_btn i,
.delete_btn i,
.view_btn i {
    margin-right: 0;
}

.delete_btn i {
    color: #ff4444;
}

.view {
    margin-bottom: 5px;
}


.view_list {
    color: #66b3f6;
    font-size: 16px;
    font-weight: 400;
    min-width: 100px;
    display: inline-block;
}


.view span:last-child {
    font-size: 15px;
    color: #7b7b7b;
}

.modal-title {
    color: #7b7b7b;
}



/*-------Top Navigation--------*/
.top_nav {
    display: flex;
    flex-wrap: nowrap;
    height: 50px; 
    border-bottom: 1.5px solid rgba(176, 176, 176, 0.386);  
    margin-left: 9.5px;
}

.logo {
    margin-left: 10px;
    line-height: 50px;
    flex: 50%;
}

.logo a {
    font-weight: 600;
    color: #7b7b7b;
    margin-left: 22px;
}

.menu {
    line-height: 50px;
}

ul.menu {
    width: 200px;
}

ul li {
    text-align: center;
    /* border-bottom: 2px solid #000000; */
}

ul li a,
ul li a i{
    color: #7b7b7b;
}

.page_group {

}

.page_body {
    background-color: #e9eaef;
    margin-left: 190px;
}

.page_content {
    margin: 0 10px;
}



/* ------------------navigaion-------------- */
.navigation{
    position: fixed;
    background-color: #66b3f6;
    width: 190px;
    height: 100%;
    top: 0;
    left: 0;
}

.navigation .header {
    position: absolute;
    line-height: 50px;
    right: -15%;
}

.header .drawer::before {
    position: absolute;
    content: '';
    top: 8px;
    left: -52%;
    width: 35px;
    height: 35px;
    box-shadow: 1px 1px 5px #00000068;
    background-color: #7b7b7b;;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}

.drawer a {
    position: relative;
}

.drawer i {
    /* color: #000000; */
    color: #fff;
}

.content_group .nav_logo{
    border-bottom: 1px solid rgba(255, 255, 255, 0.822); 
    text-align: center;
    height: 100px;
}

.nav_logo a {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    line-height: 100px;
}

.content_menu > .list_item {
    padding: 15px 0;
    margin-left: 20px;
}

.content_menu > .list_item:hover a i {
    color: #7b7b7b;
}

.content_menu .list_item a {
    font-size: 16px;
    color: #fff;
}

.nav_logo a i,
.content_menu .list_item a i{
    color: #fff;
    width: 20px;
}







/*-------------home page----------------*/
.h_body,
.d_body,
.e_body,
.p_body,
.pj_body {
    height: 100%;
}

.h_title,
.d_title,
.e_title,
.p_title,
.pj_title {
    margin: 30px 0;
    padding: 30px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px #00000068;
}

.h_title h2 {
    font-size: 25px;
    font-weight: 700;
}

.h_body .h_content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-top: 1px solid rgba(192, 189, 189, 0.687);
}

.h_box {
    background-color: #fff;
    margin: 10px;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 1px 7px #5e5e5e8c;
}

.h_box  h3 {
    background-color: #66b3f6;
    font-size: 17px;
    font-weight: default;
    padding: 5px 0;
    margin-bottom: 10px;
    color: #fff;
}

.h_box p {
    font-size: 16px;
    padding: 5px;
}

.h_box p span {

}





/*-------------department page----------------*/
.d_body {

}

.d_title,
.e_title,
.p_title,
.pj_title {
    margin: 30px 0 30px;
    padding: 15px 30px;
    display: flex;
    flex-wrap: nowrap;
}

.d_title h2, 
.e_title h2,
.p_title h2,
.pj_title h2 {
    font-size: 20px;
    color: #7b7b7b;
    margin-bottom: 0;
}

.d_title .d_add,
.e_title .e_add,
.p_title .p_add,
.pj_title .pj_add {
    line-height: 170%;
    margin-left: auto;
}

.d_add button,
.e_add button,
.p_add button,
.pj_add button {
    display: inline-block;
    background-color: #66b3f6;
    padding: 0 10px;
    height: 100%;
    cursor: pointer;
}

.d_add button i,
.e_add button i,
.p_add button i,
.pj_add button i {
    color: #fff;
}

.d_add button span,
.e_add button span,
.p_add button span,
.pj_add button span {
    color: #fff;
} 

.d_body .d_content,
.p_body .p_content,
.e_body .e_content,
.pj_body .pj_content {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px #00000068;
    margin: 30px 0 30px;
    padding: 30px 30px 50px;
}

.d_content .d_table,
.p_content .p_table,
.e_content .e_table,
.pj_content .pj_table {
    border-collapse: collapse;
    border: 1.5px solid #8d8d8d1a;
}

table, tr, th, td {
    padding: 5px 2px;
}

table th {
    font-size: 17px;
    border: 1px solid #8d8d8d45;
    border-top: 1.5px solid #000000;
    border-bottom: 1.5px solid #000000;
    color: #7b7b7b;
    font-weight: 400;
}

table td {
    padding: 5px 2px;
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #7b7b7b3d;
}

th:nth-child(1) {
    min-width: 40px;
}

th:nth-child(2) {
    width: 30%;
}

th:nth-child(3) {
    width: 60%;
}

th:nth-child(4) {
    min-width: 100px;
    text-align: center;
}

th:nth-child(5) {
    min-width: 150px;
    text-align: center;
}











/*----------------Employee---------------*/
.e_table th:nth-child(2) {
    width: 8%;
}

.e_table th:nth-child(3) {
    width: 13%;
}

.e_table th:nth-child(4) {
    width: 24%;
    text-align: left;
}

.e_table th:nth-child(5) {
    width: 24%;
    text-align: left;
}

.e_table th:nth-child(6) {
    min-width: 100px;
    text-align: center;
}

.e_table th:nth-child(7) {
    min-width: 200px;
    text-align: center;
}





/*----------------Project---------------*/
.pj_table th:nth-child(2) {
    width: 40%;
}

.pj_table th:nth-child(3) {
    width: 40%;
}

.pj_table th:nth-child(4) {
    min-width: 120px;
    text-align: left;
}

.pj_table th:nth-child(5) {
    min-width: 120px;
    text-align: left;
}

.pj_table th:nth-child(6) {
    min-width: 100px;
    text-align: center;
}

.pj_table th:nth-child(7) {
    min-width: 150px;
    text-align: center;
}