*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

body{
    background-color: #e9eaef;
}

h1,h2,h3,h4,h5,h6,
a {
    text-align: center;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

i {
    font-size: 16px;
    margin-right: 5px;
}

button {
    border: none;
    box-shadow: 1px 1px 7px #999;
}



/*------------common class & id---------------*/
.close {
    position: absolute;
    top: 0;
    left: 18%;
}

.active, 
.inactive {
    width: 70px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.active {
    background-color: #0de10d;
}

.inactive {
    background-color: red;

}

.edit_btn,
.delete_btn,
.view_btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


.edit_btn i,
.delete_btn i,
.view_btn i {
    margin-right: 0;
}

.delete_btn i {
    color: #ff4444;
}

.view {
    margin-bottom: 5px;
}


.view_list {
    color: #66b3f6;
    font-size: 16px;
    font-weight: 400;
    min-width: 100px;
    display: inline-block;
}


.view span:last-child {
    font-size: 15px;
    color: #7b7b7b;
}

.modal-title {
    color: #7b7b7b;
}

.dropdown-menu {
    min-width: 8rem;
}

.dropdown-menu .profile:nth-child(1) {
    border-bottom: .5px solid #e9e9e9;
}

.profile {
    text-align: left;
    line-height: 35px;
}

.profile > a i{
    margin-right: 15px;
    color:#66b3f6;
}



/*-------Top Navigation--------*/
.top_nav {
    display: flex;
    flex-wrap: nowrap;
    height: 50px; 
    border-bottom: 1.5px solid rgba(176, 176, 176, 0.386);  
    margin-left: 9.5px;
}

.logo {
    margin-left: 10px;
    line-height: 50px;
    flex: 50%;
}

.logo a {
    font-weight: 600;
    color: #7b7b7b;
    margin-left: 22px;
}

.menu {
    line-height: 50px;
}

ul.menu {
    width: 200px;
}

ul li {
    text-align: center;
    /* border-bottom: 2px solid #000000; */
}

ul li a,
ul li a i{
    color: #7b7b7b;
}

.page_body {
    background-color: #e9eaef;
    margin-left: 190px;
}

.page_content {
    margin: 0 10px;
}



/* ------------------navigaion-------------- */
.navigation{
    position: fixed;
    background-color: #66b3f6;
    width: 190px;
    height: 100%;
    top: 0;
    left: 0;
}

.header {
    display: flex;
}

.header .drawer {
    width: 35px;
    height: 35px;
    box-shadow: 1px 1px 5px #00000068;
    background-color: #7b7b7b;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    margin: auto 0;
    overflow: hidden;
}

.drawer button {
    display: block;
    line-height: 35px;
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
}

.drawer button i {
    color: #fff;
    text-align: center;
}

.content_group .nav_logo{
    border-bottom: 1px solid rgba(255, 255, 255, 0.822); 
    text-align: center;
    height: 100px;
}

.nav_logo a {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    line-height: 100px;
}

.content_menu > .list_item {
    padding: 15px 0;
    margin-left: 20px;
}

.content_menu > .list_item:hover a i {
    color: #7b7b7b;
}

.content_menu .list_item a {
    font-size: 16px;
    color: #fff;
}

.nav_logo a i,
.content_menu .list_item a i{
    color: #fff;
    width: 20px;
}







/*-------------home page----------------*/
.h_body,
.d_body,
.e_body,
.p_body,
.pj_body {
    height: 100%;
}

.h_title,
.d_title,
.e_title,
.p_title,
.pj_title {
    margin: 30px 0;
    padding: 30px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px #00000068;
}

.h_title h2 {
    font-size: 25px;
    font-weight: 700;
}

.h_body .h_content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-top: 1px solid rgba(192, 189, 189, 0.687);
}

.h_box {
    background-color: #fff;
    margin: 10px;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 1px 7px #5e5e5e8c;
}

.h_box  h3 {
    background-color: #66b3f6;
    font-size: 17px;
    font-weight: default;
    padding: 5px 0;
    margin-bottom: 10px;
    color: #fff;
}

.h_box p {
    font-size: 16px;
    padding: 5px;
}




/*-------------department page----------------*/
.d_title,
.e_title,
.p_title,
.pj_title {
    margin: 30px 0 30px;
    padding: 15px 30px;
    display: flex;
    flex-wrap: nowrap;
}

.d_title h2, 
.e_title h2,
.p_title h2,
.pj_title h2 {
    font-size: 20px;
    color: #7b7b7b;
    margin-bottom: 0;
}

.d_title .d_add,
.e_title .e_add,
.p_title .p_add,
.pj_title .pj_add {
    line-height: 170%;
    margin-left: auto;
}

.d_add button,
.e_add button,
.p_add button,
.pj_add button {
    display: inline-block;
    background-color: #66b3f6;
    padding: 0 10px;
    height: 100%;
    cursor: pointer;
}

.d_add button i,
.e_add button i,
.p_add button i,
.pj_add button i {
    color: #fff;
}

.d_add button span,
.e_add button span,
.p_add button span,
.pj_add button span {
    color: #fff;
} 

.d_body .d_content,
.p_body .p_content,
.e_body .e_content,
.pj_body .pj_content {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px #00000068;
    margin: 30px 0 30px;
    padding: 30px 30px 50px;
}

.d_content .d_table,
.p_content .p_table,
.e_content .e_table,
.pj_content .pj_table {
    border-collapse: collapse;
    border: 1.5px solid #8d8d8d1a;
}

table, tr, th, td {
    padding: 5px 2px;
}

table th {
    font-size: 17px;
    border: 1px solid #8d8d8d45;
    border-top: 1.5px solid #000000;
    border-bottom: 1.5px solid #000000;
    color: #7b7b7b;
    font-weight: 400;
}

table td {
    padding: 5px 2px;
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #7b7b7b3d;
}

th:nth-child(1) {
    min-width: 40px;
}

th:nth-child(2) {
    width: 30%;
}

th:nth-child(3) {
    width: 60%;
}

th:nth-child(4) {
    min-width: 100px;
    text-align: center;
}

th:nth-child(5) {
    min-width: 150px;
    text-align: center;
}











/*----------------Employee---------------*/
.e_table th:nth-child(2) {
    width: 10%;
}

.e_table th:nth-child(3) {
    width: 20%;
}

.e_table th:nth-child(4) {
    width: 35%;
    text-align: left;
}

.e_table th:nth-child(5) {
    width: 35%;
    text-align: left;
}

.e_table th:nth-child(6) {
    min-width: 100px;
    text-align: center;
}

.e_table th:nth-child(7) {
    min-width: 200px;
    text-align: center;
}





/*----------------Project---------------*/
.pj_table th:nth-child(2) {
    width: 40%;
}

.pj_table th:nth-child(3) {
    width: 40%;
}

.pj_table th:nth-child(4) {
    min-width: 120px;
    text-align: left;
}

.pj_table th:nth-child(5) {
    min-width: 120px;
    text-align: left;
}

.pj_table th:nth-child(6) {
    min-width: 100px;
    text-align: center;
}

.pj_table th:nth-child(7) {
    min-width: 150px;
    text-align: center;
}






/*--------------Login----------------*/
.login_page {
    position: relative;
    background-color: #e9eaef;
    width: 100%;
    height: 100vh;
}

.login_title {
    background-color: #fff;
    position: absolute;
    content: '';
    top: 10%;
    left: 50%;
    width: 80%;
    padding: 10px 50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    box-shadow: 1px 1px 6px #00000068;
}

.login_title h1 {
    font-size: 25px;
    font-family: sans-serif;
    color: #7b7b7b;;
}

.login_box {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 1px 1px 6px #00000068;
    width: 340px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.login_box .l_box_title {
    background-color: #66b3f6;
    margin-bottom: 5px;
}

.l_box_title h3 {
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
}


.login_box form {
    padding: 5px 30px 20px;
}


.login_btn {
    display: flex;
}

.login_btn button {
    margin-left: auto;
    background: #66b3f6;
    color: #fff;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 3px 10px;
    text-align: right;
}






/*--------------For Tablet----------------*/
@media (max-width: 769px) {
    .h_body .h_content {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .h_title h2 {
        font-size: 20px;
    }

    .h_title, .d_title, 
    .e_title, .p_title, 
    .pj_title {
        margin: 20px 0;
        padding: 20px 0;
    }

    .h_box h3 {
        font-size: 16px;
    }

    .h_box p {
        font-size: 14px;
    }

    .e_body .e_content,
    .d_body .d_content, 
    .p_body .p_content, 
    .pj_body .pj_content {
        margin: 20px 0 10px;
        padding: 20px 10px 30px;
    }

    .e_title, .d_title,
    .p_title, .pj_title {
        padding: 15px;
    }

    .e_title h2, .d_title h2,
    .p_title h2, .pj_title h2 {
        font-size: 18px;
    }

    table th {
        font-size: 15px;

    }

    table td {
        font-size: 13px;
    }

    th:nth-child(1) {
        min-width: 30px;
    }

    .e_table th:nth-child(6) {
        min-width: 90px; 
        min-width: 70px;
    }

    .e_table th:nth-child(7) {
        min-width: 100px;
    }

    .edit_btn, .delete_btn, .view_btn {
        width: 25px;
        height: 25px;
    }

    .pj_table th:nth-child(4) {
        min-width: 90px;
    }

    .pj_table th:nth-child(5) {
        min-width: 90px;
    }

    .pj_table th:nth-child(6) {
        min-width: 70px;
    }

    .pj_table th:nth-child(7) {
        min-width: 100px;
    }
    
    i{
        font-size: 13px;
    }


}


@media (max-width: 426px) {

    .e_body .e_content,
    .d_body .d_content, 
    .p_body .p_content, 
    .pj_body .pj_content {
        overflow: scroll;
    }
}

